<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<!-- Change Server=... to the SAME server name you type in SSMS when you connect.
         Examples:  Server=.   |   Server=localhost   |   Server=.\SQLEXPRESS   |   Server=localhost\SQLEXPRESS -->
		<add name="ECMS_DB"
			connectionString="Server=.\MYOWNSQL;Database=ECMS_DB;Integrated Security=True;TrustServerCertificate=True;"
			 providerName="Microsoft.Data.SqlClient" />
	</connectionStrings>

	<appSettings>
		<!-- Used in a later stage when orders are calculated -->
		<add key="TaxRate" value="0.15" />
	</appSettings>
</configuration>